<template>
  <div id="app" class="container"
    style="width: 100%; margin-right: auto; margin-left: auto; padding-right: 15px; padding-left: 15px;">
    <div class="row" style="margin-top: 40px; margin-bottom: 16px;">
      <h1 class="title is-1">{{titlePage}}</h1>
    </div>
    <div class="row">
      <input class="input" style="width: 800px; margin-top: 24px;" v-model="newTodo" type="text"
        v-on:keyup.enter="addItem()" placeholder="Create a new to-do..." />
    </div>

    <div class="row">
      <div class="row" style="margin-top: 16px; margin-bottom: 16px;">
        <ul>
          <li v-for="(todo,i) in todoDefault" v-bind:key="todo.id">
            <button class="button" style="justify-content: space-between; height: 60px; width: 450px;">
              <span v-if="todo.mCheck == false && todo.mEditable == false"
                v-on:click="checkTask(i)">{{todo.text}}</span>
              <span v-if="todo.mCheck == true && todo.mEditable == false" style="text-decoration:line-through"
                v-on:click="checkTask(i)">{{todo.text}}</span>
              <input class="input is-focused" style="height: 30px; width: 350px;" type="text"
                v-if="todo.mEditable == true" v-model="editTodo" v-on:keyup.enter="changeToDoItem(i)"
                v-on:blur="hideEdit(i)" autofocus />
              <a>
                <button id="button-edit" class="button is-link is-outlined"
                  style="height:30px; width:30px; border: none;" v-on:click="editItem(i)">
                  <span class="icon">
                    <i class="fa fa-edit"></i>
                  </span>
                </button>

                <button class="button is-danger is-outlined"
                  style="height:30px; width:30px; margin-left:4px; border: none;" v-on:click="deleteItem(i)">
                  <span class="icon">
                    <i class="fa fa-trash"></i>
                  </span>
                </button>
              </a>
            </button>
          </li>
        </ul>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "app",
  data() {
    return {
      titlePage: "To do list",
      newTodo: "",
      todoDefault: [
        { text: "Do the dishes", id: 0, mEditable: false, mCheck: false },
        { text: "Take out the trash", id: 1, mEditable: false, mCheck: false },
        { text: "study vue", id: 2, mEditable: false, mCheck: false }
      ],
      editTodo: ""
    };
  },
  methods: {
    addItem() {
      this.todoDefault.push({
        text: this.newTodo,
        id: new Date().valueOf(),
        mEditable: false,
        mCheck: false
      });
      this.newTodo = "";
    },
    deleteItem(i) {
      this.todoDefault.splice(i, 1);
    },
    editItem(i) {
      this.editTodo = "";
      for (const item in this.todoDefault) {
        if (item == i && this.todoDefault[i].mEditable == false) {
          this.todoDefault[item].mEditable = true;
        } else {
          this.todoDefault[item].mEditable = false;
        }
      }
    },
    hideEdit(i) {
      for (const item in this.todoDefault) {
        this.todoDefault[item].mEditable = false;
      }
    },
    changeToDoItem(i) {
      this.todoDefault[i].text = this.editTodo;
      this.todoDefault[i].mEditable = false;
      this.editTodo = "";
    },
    checkTask(i) {
      if (this.todoDefault[i].mCheck == false) {
        this.todoDefault[i].mCheck = true;
      } else {
        this.todoDefault[i].mCheck = false;
      }
    }
  }
};
</script>

<style>
</style>
